aside.sidebar
	.sidebar__social
		a(href="#" class="i-vk" title="vk.com")
		a(href="#" class="i-tw" title="twitter.com")
		a(href="#" class="i-fc" title="facebook.com")
		a(href="#" class="i-rss" title="rss")
	.sidebar__nav
		a(href="#") Все категории
		a(href="#") Интернет-магазины
		a(href="#") Товары почтой
		a(href="#") Онлайн-игры
		a(href="#") Услуги и сервисы
		a(href="#") Знакомства
		a(href="#") Мобильные платформы
	.sidebar__social
		img(src="assets/images/fc.jpg", alt="fc")