@font-face {
    font-family: TheSerifYotaW5Plain; 
    src: url(/assets/fonts/theserifyota-w5plain.woff); 
}
@font-face {
    font-family: TheSerifYotaW3Light; 
    src: url(/assets/fonts/theserifyota-w3light.woff); 
}