.table--responsive
	table
		thead
			tr
				th Источник
				th 
					i(class="fa fa-caret-down" aria-hidden="true")
					| R. 
					i(class="fa fa-question-circle" aria-hidden="true")
				th 
					| U.
					i(class="fa fa-question-circle" aria-hidden="true")
				th.text-green
					i(class="fa fa-caret-down" aria-hidden="true")
					| C.R.
					i(class="fa fa-question-circle" aria-hidden="true")
				th.green
					i(class="fa fa-caret-down" aria-hidden="true")
					| A.
					i(class="fa fa-question-circle" aria-hidden="true")
				th.green
					i(class="fa fa-caret-down" aria-hidden="true")
					| P.
					i(class="fa fa-question-circle" aria-hidden="true")
				th.green 
					i(class="fa fa-caret-down" aria-hidden="true")
					| Rj.
					i(class="fa fa-question-circle" aria-hidden="true")
				th.green 
					i(class="fa fa-caret-down" aria-hidden="true")
					| Pa.
					i(class="fa fa-question-circle" aria-hidden="true")
				th.text-green 
					i(class="fa fa-caret-down" aria-hidden="true")
					| eCPC
					i(class="fa fa-question-circle" aria-hidden="true")
				th 
					| W.A.
					i(class="fa fa-question-circle" aria-hidden="true")
				th 
					| A.A.
					i(class="fa fa-question-circle" aria-hidden="true")
				th 
					| R.P.
					i(class="fa fa-question-circle" aria-hidden="true")
		tbody
			tr
				td.text-green 860
				td 1896
				td 1833
				td 18.7%
				td.green 0
				td.green 0
				td.green 0
				td.green 343
				td 12.16
				td 0.0
				td 0.0
				td 22295.0
			tr
				td.text-green 91
				td 246
				td 235
				td 23.0%
				td.green 0
				td.green 0
				td.green 0
				td.green 11
				td 4.7
				td 0.0
				td 0.0
				td 3510.0