.comment
	.comment__init
		p Вы сможете добавлять комментарии, только после регистрации.
		button(type="button" class="btn--reg") Зарегистрироваться
	.comments__list
		.comment__group
			span.comment__user Вася Пупкин
			span.comment__date 12.04.16
			a(href="#" class="comment__reply")
				i(class="fa fa-share" aria-hidden="true") 
				| Ответить
			p.comment__content А почему при сокрытии реферера ты используешь просто «Вкл», а не «Meta-refresh»?
		.comment__group.comment__group--insert
			span.comment__user Вася Пупкин
			span.comment__date 12.04.16
			a(href="#" class="comment__reply")
				i(class="fa fa-share" aria-hidden="true") 
				| Ответить
			p.comment__content  а разве не беспечность использовать сами трекеры? Ведь у владельцев тоже могут быть арбитражные отделы которые могут украсть связки. Спасибо за статью Вадим. Трекер хороший, но в бесплатной версии фиг сокрешь реферер из-за их домена который яндекс блочит
		.comment__group
			span.comment__user Вася Пупкин
			span.comment__date 12.04.16
			a(href="#" class="comment__reply")
				i(class="fa fa-share" aria-hidden="true") 
				| Ответить
			p.comment__content А почему при сокрытии реферера ты используешь просто «Вкл», а не «Meta-refresh»?