article.article
	header.article__header
		.article__date
			span.article__day 18
			span 03.16
		img(src="/assets/images/article.jpg", alt="article img" class="article__img")
		.article__tags
			span.article__tag CPA партнерки
			span.article__tag Маркетинг
		h1.article__heading1 Основы трекинга. Приватность, аналитика, удобство
		.article__tags
			span.article__tag 
				i(class="fa fa-eye" aria-hidden="true")
				| 2123
			span.article__tag 
				i(class="fa fa-commenting" aria-hidden="true")
				| 13
	.article__content
		p(class="article__lead")
		h2.article__heading2 Приватность вашего трафика
		p.
			Честно говоря, я поражаюсь беспечности вебмастеров. В то время, как у каждой партнерской сети есть свой отдел медиабаинга/арбитража (называйте как угодно, смысл не меняется), арбитражники все еще сливают к ним трафик напрямую, прозрачно показывая источник.
		p.
			Причем знаете что самое интересное, вебмастер же играется с параметрами рекламных сетей, подробно отслеживает эффективность тизеров и площадок, все это анализирует и оптимизирует кампании. И все это прекрасно видно в партнерке, как-нибудь вот так:
		include ../table/table
		p.
			Источник – это номер площадки в рекламной сети. И по каждому источнику есть CR, количество конверсий, апрув, короче все вплоть до самого главного показателя – eCPC (заработка на переходе). Отдельные кадры думают, что эта инфа партнерке ничего не скажет, потому что самого источника то не видно. Но это бред собачий, для каждого перехода в любой ПП пишется реферер, в котором как раз и стоит редирект рекламной сети.
		p.
			Я тут хотел сказать, что отделу арбитража партнерки собрать эту инфу в кучу и начать действовать будет не сложно, но тут на самом деле ничего и собирать не надо – вся ваша красивая связка удобно размещена на одном листе.
	.article__comments
		h2.article__heading2 Комментарии
		hr
		include ../comment/comment
	.article__footer
		include ../paginator/paginator