header.header
	.container--flex
		a(href="/" class="header__logo")
		button(type="button" class="header__mob-btn")
			i(class="fa fa-bars" aria-hidden="true")
		nav.header__nav
			a(href="#" class="header__nav__item") Новости
			a(href="#" class="header__nav__item") Офферы
			a(href="#" class="header__nav__item") Рекламодателям
			a(href="#" class="header__nav__item") Вебмастерам
			a(href="#" class="header__nav__item") Правила
			a(href="#" class="header__nav__item") Контакты