footer.footer
	.container--flex.footer__container
		p.footer__copy ©  2016 MonsterLeads
		.footer__imgs
			img(src="assets/images/skype.png", alt="")
			img(src="assets/images/webmoney.png", alt="")
			img(src="assets/images/webmoney2.png", alt="")